@font-face {
    font-family: 'Exo2';
    src: url("fonts/Exo2-VariableFont_wght.woff") format("woff");
    src: url("fonts/Exo2-VariableFont_wght.ttf") format("truetype");
}
.contest div{
}
body{
    background-color: #fafafa;
    font-family: "Exo2";
    align-items: center;
    background-size: 80%;
}
.header {
    display: flex;
    justify-content: center;
}
.taxi-logo{
    background-color: black;
    border-radius: 16px;
    height: 54px;
    width: 83px;
    text-align: center;
    margin-left: 280px;
    margin-top: 23px;
}
.taxi-logo__link{
    color: #fafafa;
    font-size: 18px;
    display: inline-block;
    transform: translateY(70%)
}
.nav-frame{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 280px;
    margin-top: 23px;
    margin-left: 189px;
}
.phone{
    text-align: center;
    border-radius: 16px;
    background-color: #f3f3f3;
    width: 238px;
    height: 54px;
}
.nav-frame__link{
    transform: translateY(30%);
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.last{
    transform: translateY(30%);
    margin-right: 48px;
}
.phone__link{
    display: inline-block;
    transform: translateY(70%);
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.main-information{
    width: 1920px;
    height: 509px;
    margin-top: 120px;
    background-image: url(images/imgonline-com-ua-Resize-9HPn3WjirPHAXBvr.jpg);
    background-repeat: no-repeat;
}
.main-information-banner{
    margin-left: 280px;
    width: 473px;
    height: 418px;
    transform: translateY(-25%);
    background-color: #fafafa;
}
.base-text{
    font-size: 20px;
}
.main-information-banner-button{
    width: 251px;
    height: 70px;
    background-color: #FF8400;
    margin-top: 32px;
    margin-bottom: 48px;
    border-radius: 16px;
    text-align: center;
}
.main-information-banner-button__text{
    color: #fafafa;
    display: inline-block;
    transform: translateY(120%);
}
.main-information-banner-yandex{
    border-radius: 16px;
    background-color: #fff;
    width: 302PX;
    height: 76PX;
    display: flex;
}
.main-information-banner-yandex__photo{
    background-image: url(images/imgonline-com-ua-Resize-TcHXRuktCX.jpg);
    width: 32px;
    height: 32px;
    margin-top: 17px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.main-information-banner-yandex__text{
    font-size: 18px;
}
.center{
    transform: translateY(30%);
}
.content-main{
    height: 1850px;
}
.information-text-header{
    font-size: 52px;
    text-align: center;
}
.information-text-header-banner{
    font-size: 52px;
}
.center-text{
    margin: 0 auto;
}
.container-about{
    position: relative;
    top: 80px;
}
.container-mini{
    display: flex;
}
.container{
    border-radius: 36px;
    margin-left: 12px;
    margin-right: 12px;
}
.size_m{
    width: 908px;
    height: 800px;
    background-color: #fff;
}
.information-text{
    font-size: 44px;
    width: 400px;
    height: auto;
}
.text-size-m{
    width: 548px;
    height: 84px;
}
.header-banner{
    display: flex;
}
.banner-content{
    margin-left: 48px;
}
.container-size_l{
    width: 1840px;
    height: 800px;
    background-color: #F48514;
    border-radius: 36px;
    display: flex;
    margin-top: 24px;
}
.photo-number{
    width: 116px;
    height: 65px;
    background-repeat: no-repeat;
    margin-top: 63px;
    margin-right: 24px;
}
.photo-1{
    background-image: url(images/01..svg);
}
.photo-2{
    background-image: url(images/02..svg);
}
.photo-3{
    background-image: url(images/03..svg);
    margin-left: 48px;
}
.illustration-m{
    width: 812px;
    height: 465px;
    position: relative;
    top: 10px;
}
.illustration-l{
    width: 886px;
    height: 704px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 110px;
}
.illustratiom-1{
    background-image: url(images/1.png);
}
.illustratiom-2{
    background-image: url(images/2.png);
}
.illustratiom-3{
    background-image: url(images/3.png);
}
.container-ll{
    width: 920px;
}
.height-ll{
    height: 460px;
}
.container-photo-3{
    height: 300px;
}
.text-l{
    color: white;
    margin-bottom: 10px;
}
.main-information-banner-button-white{
    width: 251px;
    height: 70px;
    background-color: #fff;
    margin-top: 32px;
    margin-bottom: 48px;
    border-radius: 16px;
    text-align: center;
}
.main-information-banner-button__text-orange{
    color: black;
    display: inline-block;
    transform: translateY(120%);
}
.chapter{
    margin-top: 200px;
}
.illustration-background{
    background-image: url(images/imgonline-com-ua-Resize-WuiO0gzlgN2y2Wo.jpg);
    width: 1926px;
    height: 555px;
    background-repeat: no-repeat;
    margin-top: 80px;
}
.timeline{
    width: 1926px;
    height: 555px;
    margin-top: 99px;
    position: relative;
}
.line-image{
    position: absolute;
    z-index: 1;
}
.text-circle{
    font-size: 44px;
    z-index: 1;
}
.circle-1{
    position: absolute;
    left: 160px;
    bottom: 80px;
    z-index: 1;
    animation: done;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    width: 126px;
    height: 126px;
    transition-timing-function: ease-in-out;
}
.circle-1-d{
    background-image: url(images/Frame512581.svg);
    position: absolute;
    left: 160px;
    bottom: 80px;
    width: 126px;
    height: 126px;
    visibility: hidden;
    animation: hid;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transition-timing-function: ease-in-out;
}
.circle-2{
    position: absolute;
    left: 653px;
    bottom: 152px;
    z-index: 1;
    animation: done;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}
.circle-2-d{
    background-image: url(images/Frame512581.svg);
    position: absolute;
    left: 653px;
    bottom: 152px;
    width: 126px;
    height: 126px;
    visibility: hidden;
    animation: hid;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transition-timing-function: ease-in-out;
}
.circle-3{
    position: absolute;
    left: 1127px;
    bottom: 256px;
    z-index: 1;
}
.circle-4{
    position: absolute;
    left: 1529px;
    bottom: 340px;
    z-index: 1;
}
.text-p{
    width: 370px;
    height: 80px;
    font-size: 36px;
}
.req{
    position: relative;
    top: 465px;
    left: 275px;
    animation: changeColor;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.call{
    position: relative;
    top: 70px;
    left: 450px;
    animation: changeColor;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.doc{
    position: relative;
    top: 150px;
    left: 1063px;
}
.done{
    position: relative;
    bottom: 270px;
    left: 1361px;
}
.line{
    animation: changeColorStroke 5s;
}
.block-group{
    width: 1279px;
    height: 872px;
}
.level-l{
    height: 336px;
    width: 100%;
    display: flex;
    align-items: center;
}
.level-s{
    height: auto;
    width: 100%;
    display: flex;
}
.panel{
    border-radius: 36px;
}
.panel-l{
    width: 725px;
    height: 100%;
}
.comission{
    margin-left: 187px;
    background-color: #fff;
}
.order{
    font-size: 36px;
    width: 600px;
    margin: 48px;
}
.sale{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 155px;

}
.sale-text{
    width: 295px;
    height: 80px;
    color: white;
    font-size: 36px;
}
.panel-xs{
    width: 343px;
    height: 176px;
}
.panel-xl{
    width: 701px;
    height: 312px;
}
.cost{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.cost-text{
    color: white;
    width: 629px;
    height: 216px;
    font-size: 36px;
}
.panel-m{
    width: 504px;
    height: 336px;
}
.pluses{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 38px;
}
.pluses-text{
    width: 408px;
    height: 240px;
    font-size: 36px;
}
.panel-s{
    width: 709px;
    height: 176px;
}
.taxi{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.taxi-text{
    font-size: 36px;
    height: 80px;
    width: 529px;
}
.taxi-logo-m{
    height: 60px;
    width: 60px;
    margin-right: 24px;
}
.panel-mini{
    width: 399px;
    height: 136px;
}
.partner{
    background-color: #FF8400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 50px;
}
.partner-text{
    font-size: 36px;
    color: white;
    width: 303px;
    height: 40px;
}
.presents-banner{
    width: 1920px;
    height: 664px;
    background-color: #F9F7F6;
    display: flex;
}
.presents-banner-chapter{
    height: 100%;
    width: 640px;
}
.join{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.join-text{
    height: 168px;
    width: 484px;
    font-size: 52px;
}
.join-button{
    border-radius: 16px;
    height: 70px;
    width: 331px;
    background-color: #FF8400;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.join-link{
    font-size: 18px;
    margin-top: 16px;
    text-decoration: none;
}
.presents-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.people{
    background-color: #FFF;
    width: 435px;
    height: 552px;
    border-radius: 36px;
}
.people-list-h-banner{
    display: flex;
    justify-content: center;
}
.people-list-banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.people-list-h{
    font-size: 36px;
    width: 387px;
    height: 80px;
    text-align: center;
}
.item{
    display: flex;
    align-items: center;
}
.item:not(:first-child){
    margin-top: 24px;
}
.item-describe{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    height: 48px;
}
.item-describe-text{
    font-size: 18px;
}
.item-describe-untext{
    margin-top: 2px;
    font-size: 18px;
    opacity: 0.6;
}
.winner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.winner-banner{
    width: 387px;
    height: 430px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.winner-banner-text{
    text-align: center;
}
.photo-banner{
    width: 265px;
    height: 254px;
}
.photo-winner{
    width: 100%;
    height: 100%;
    background: url(images/Ellipsewinner.png);
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.ellipse-orange{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 102px;
    height: 102px;
    z-index: 1;
    background-color: #F48514;
    border-radius: 50px;
    overflow: hidden;
}
.image-phone{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.discribe-winner{
    width: 117px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.discribe-winner-text{
    font-size: 18px;
}
.discribe-winner-untext{
    font-size: 18px;
}
.salary{
    display: flex;
    justify-content: center;
    align-items: ceneter;
}
.salary-banner{
    width: 1490px;
    height: 692px;
    display: flex;
}
.salary-banner-text{
    width: 516px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.salary-banner-text-h{
    font-size: 52px;
    width: 540px;
    height: 168px;
    margin-left: 50px;
}
.salary-banner-text-content{
    width: 500px;
    height: 200px;
    margin-top: 32px;
}
.salary-banner-text-content-text{
    width: 396px;
    height: 56px;
    font-size: 20px;
}
.salary-banner-text-content-list{
    font-size: 20px;
}
.salary-banner-calculator{
    width: 810px;
    height: 692px;
    margin-left: 164px;
    border-radius: 36px;
    background-color: #FFF;
}
.salary-banner-calculator-content{
    margin: 48px;
    width: 714px;
    height: 596px;
}
.salary-banner-calculator-content-text{
    font-size: 20px;
    margin-top: 24px;
}
.slider{
    margin-top: 24px;
    width: 714px;
    height: 84px;
    position: relative;
}
.slider-output-text{
    font-size: 36px;
}
.slider-output{
    display: flex;
}
.slider-output-mean{
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
}
.slider-input{
    margin-top: 22px;
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    background: rgb(255, 255, 255) 60%;
}
.slider-input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 36px;
    height: 36px;
    background-color:  #00000000;
    border-radius: 50px;
    border: 10px solid #FF8400;
    cursor: pointer;
}
.slider-output-mean-d{
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
}
.slider-input-d{
    margin-top: 22px;
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    background: rgb(255, 255, 255) 60%;
}
.slider-input-d::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 36px;
    height: 36px;
    background-color:  #00000000;
    border-radius: 50px;
    border: 10px solid #FF8400;
    cursor: pointer;
}
.slider-output-mean-l{
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
}
.slider-input-l{
    margin-top: 22px;
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    background: rgb(255, 255, 255) 60%;
}
.slider-input-l::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 36px;
    height: 36px;
    background-color:  #00000000;
    border-radius: 50px;
    border: 10px solid #FF8400;
    cursor: pointer;
}
.salary-banner-cost{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.salary-cost{
    font-size: 44px;
}
.main-information-banner-button-orange{
    width: 251px;
    height: 70px;
    background-color: #FF8400;
    margin-top: 24px;
    border-radius: 16px;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-information-banner-button__text-white{
    color: white;
}
.salary-text{
    opacity: 0.6;
    font-size: 20px;
    margin-top: 24px;
}
.contest{
    background-color: #F9F7F6;
    width: 1920px;
    height: 664px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-pig{
    background: url(images/pig.png);
    width: 908px;
    height: 664px;
}
.contest-describe{
    width: 712px;
    height: 270px;
}
.contest-describe-text{
    font-size: 52px;
}
.contest-container{
    margin-top: 32px;
    display: flex;
    align-items: center;
}
.contest-join{
    width: 310px;
    height: 70px;
    background-color: #FF8400;
    border-radius: 16px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contest-join-text{
    color: white;
    font-size: 18px;
}
.contest-join-cond{
    font-size: 18px;
    margin-left: 24px;
}
@keyframes done{
    0%{
        visibility: visible;
    }
    30%{
        opacity: 0.3;
        visibility: hidden;
    }
    60%{
        opacity: 0.6;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: hidden;
    }
}
@keyframes hid{
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
        z-index: 1;
    }
}
@keyframes changeColor{
    0%{
        color: black;
    }
    100%{
        color: orange;
    }
}
@keyframes changeColorStroke{
    0%{
        stroke: black;
    }
    100%{
        stroke: linear-gradient(to right, orange 0%, orange 50%, black 50%, black 100%);
    }
}
