@font-face {
    font-family: 'Exo2';
    src: url("fonts/Exo2-VariableFont_wght.woff") format("woff");
    src: url("fonts/Exo2-VariableFont_wght.ttf") format("truetype");
}
body{
    background-color: #fafafa;
    font-family: "Exo2";
    align-items: center;
    background-size: 80%;
}
.header {
    display: flex;
    justify-content: center;
}
.taxi-logo{
    background-color: black;
    border-radius: 16px;
    height: 54px;
    width: 83px;
    text-align: center;
    margin-left: 280px;
    margin-top: 23px;
}
.taxi-logo__link{
    color: #fafafa;
    font-size: 18px;
    display: inline-block;
    transform: translateY(70%)
}
.nav-frame{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 280px;
    margin-top: 23px;
    margin-left: 189px;
}
.phone{
    text-align: center;
    border-radius: 16px;
    background-color: #f3f3f3;
    width: 238px;
    height: 54px;
}
.nav-frame__link{
    transform: translateY(30%);
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.last{
    transform: translateY(30%);
    margin-right: 48px;
}
.phone__link{
    display: inline-block;
    transform: translateY(70%);
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.main-information{
    width: 1920px;
    height: 509px;
    margin-top: 120px;
    background-image: url(images/imgonline-com-ua-Resize-9HPn3WjirPHAXBvr.jpg);
    background-repeat: no-repeat;
}
.main-information-banner{
    margin-left: 280px;
    width: 473px;
    height: 418px;
    transform: translateY(-25%);
    background-color: #fafafa;
}
.base-text{
    font-size: 20px;
}
.main-information-banner-button{
    width: 251px;
    height: 70px;
    background-color: #FF8400;
    margin-top: 32px;
    margin-bottom: 48px;
    border-radius: 16px;
    text-align: center;
}
.main-information-banner-button__text{
    color: #fafafa;
    display: inline-block;
    transform: translateY(120%);
}
.main-information-banner-yandex{
    border-radius: 16px;
    background-color: #fff;
    width: 302PX;
    height: 76PX;
    display: flex;
}
.main-information-banner-yandex__photo{
    background-image: url(images/imgonline-com-ua-Resize-TcHXRuktCX.jpg);
    width: 32px;
    height: 32px;
    margin-top: 17px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.main-information-banner-yandex__text{
    font-size: 18px;
}
.center{
    transform: translateY(30%);
}
.content-main{
    height: 1850px;
}
.information-text-header{
    font-size: 52px;
    text-align: center;
}
.information-text-header-banner{
    font-size: 52px;
}
.center-text{
    margin: 0 auto;
}
.container-about{
    position: relative;
    top: 80px;
}
.container-mini{
    display: flex;
}
.container{
    border-radius: 36px;
    margin-left: 12px;
    margin-right: 12px;
}
.size_m{
    width: 908px;
    height: 800px;
    background-color: #fff;
}
.information-text{
    font-size: 44px;
    width: 400px;
    height: auto;
}
.text-size-m{
    width: 548px;
    height: 84px;
}
.header-banner{
    display: flex;
}
.banner-content{
    margin-left: 48px;
}
.container-size_l{
    width: 1840px;
    height: 800px;
    background-color: #F48514;
    border-radius: 36px;
    display: flex;
    margin-top: 24px;
}
.photo-number{
    width: 116px;
    height: 65px;
    background-repeat: no-repeat;
    margin-top: 63px;
    margin-right: 24px;
}
.photo-1{
    background-image: url(images/01..svg);
}
.photo-2{
    background-image: url(images/02..svg);
}
.photo-3{
    background-image: url(images/03..svg);
    margin-left: 48px;
}
.illustration-m{
    width: 812px;
    height: 465px;
    position: relative;
    top: 10px;
}
.illustration-l{
    width: 886px;
    height: 704px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 110px;
}
.illustratiom-1{
    background-image: url(images/1.png);
}
.illustratiom-2{
    background-image: url(images/2.png);
}
.illustratiom-3{
    background-image: url(images/3.png);
}
.container-ll{
    width: 920px;
}
.height-ll{
    height: 460px;
}
.container-photo-3{
    height: 300px;
}
.text-l{
    color: white;
    margin-bottom: 10px;
}
.main-information-banner-button-white{
    width: 251px;
    height: 70px;
    background-color: #fff;
    margin-top: 32px;
    margin-bottom: 48px;
    border-radius: 16px;
    text-align: center;
}
.main-information-banner-button__text-orange{
    color: black;
    display: inline-block;
    transform: translateY(120%);
}
.chapter{
    margin-top: 200px;
}
.illustration-background{
    background-image: url(images/imgonline-com-ua-Resize-WuiO0gzlgN2y2Wo.jpg);
    width: 1926px;
    height: 555px;
    background-repeat: no-repeat;
    margin-top: 80px;
}
.timeline{
    width: 1926px;
    height: 555px;
    margin-top: 99px;
    position: relative;
}
.line-image{
    position: absolute;
    z-index: 1;
}
.text-circle{
    font-size: 44px;
    z-index: 1;
}
.circle-1{
    position: absolute;
    left: 160px;
    bottom: 80px;
    z-index: 1;
    animation: done;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    width: 126px;
    height: 126px;
    transition-timing-function: ease-in-out;
}
.circle-1-d{
    background-image: url(images/Frame512581.svg);
    position: absolute;
    left: 160px;
    bottom: 80px;
    width: 126px;
    height: 126px;
    visibility: hidden;
    animation: hid;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transition-timing-function: ease-in-out;
}
.circle-2{
    position: absolute;
    left: 653px;
    bottom: 152px;
    z-index: 1;
    animation: done;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}
.circle-2-d{
    background-image: url(images/Frame512581.svg);
    position: absolute;
    left: 653px;
    bottom: 152px;
    width: 126px;
    height: 126px;
    visibility: hidden;
    animation: hid;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transition-timing-function: ease-in-out;
}
.circle-3{
    position: absolute;
    left: 1127px;
    bottom: 256px;
    z-index: 1;
}
.circle-4{
    position: absolute;
    left: 1529px;
    bottom: 340px;
    z-index: 1;
}
.text-p{
    width: 370px;
    height: 80px;
    font-size: 36px;
}
.req{
    position: relative;
    top: 465px;
    left: 275px;
    animation: changeColor;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.call{
    position: relative;
    top: 70px;
    left: 450px;
    animation: changeColor;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.doc{
    position: relative;
    top: 150px;
    left: 1063px;
}
.done{
    position: relative;
    bottom: 270px;
    left: 1361px;
}
@keyframes done{
    0%{
        visibility: visible;
    }
    30%{
        opacity: 0.3;
        visibility: hidden;
    }
    60%{
        opacity: 0.6;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: hidden;
    }
}
@keyframes hid{
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
        z-index: 1;
    }
}
@keyframes changeColor{
    0%{
        color: black;
    }
    100%{
        color: orange;
    }
}
